@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  src: url(../fontsgstaticcom/s/opensans/v43/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk5hkWVAexQ_8257607.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  src: url(../fontsgstaticcom/s/opensans/v43/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkWVAexQ_4980810.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  src: url(../fontsgstaticcom/s/opensans/v43/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkxhjWVAexQ_8257547.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  src: url(../fontsgstaticcom/s/opensans/v43/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkyFjWVAexQ_5242890.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src: url(../fontsgstaticcom/s/opensans/v43/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4gaVc_1376366.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(../fontsgstaticcom/s/opensans/v43/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVc_1441916.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  src: url(../fontsgstaticcom/s/opensans/v43/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x4gaVc_1704020.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(../fontsgstaticcom/s/opensans/v43/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVc_1703985.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url(../fontsgstaticcom/s/poppins/v23/pxiDyp8kv8JHgFVrJJLm21lVF9eL_1638505.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url(../fontsgstaticcom/s/poppins/v23/pxiGyp8kv8JHgFVrJJLucHtF_1966083.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url(../fontsgstaticcom/s/poppins/v23/pxiDyp8kv8JHgFVrJJLmg1hVF9eL_1638456.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url(../fontsgstaticcom/s/poppins/v23/pxiDyp8kv8JHgFVrJJLmr19VF9eL_1638524.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url(../fontsgstaticcom/s/poppins/v23/pxiDyp8kv8JHgFVrJJLmy15VF9eL_1638523.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url(../fontsgstaticcom/s/poppins/v23/pxiByp8kv8JHgFVrLDz8Z1xlEA_4849731.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(../fontsgstaticcom/s/poppins/v23/pxiEyp8kv8JHgFVrJJfedw_7667802.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url(../fontsgstaticcom/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z1xlEA_4718701.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url(../fontsgstaticcom/s/poppins/v23/pxiByp8kv8JHgFVrLEj6Z1xlEA_4522067.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url(../fontsgstaticcom/s/poppins/v23/pxiByp8kv8JHgFVrLCz7Z1xlEA_4325443.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 300;
  src: url(../fontsgstaticcom/s/raleway/v36/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4TbMDrMfJQ_4522066.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: url(../fontsgstaticcom/s/raleway/v36/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4WjMDrMfJQ_4587610.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 500;
  src: url(../fontsgstaticcom/s/raleway/v36/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4VrMDrMfJQ_4653122.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 600;
  src: url(../fontsgstaticcom/s/raleway/v36/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4bbLDrMfJQ_7471186.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  src: url(../fontsgstaticcom/s/raleway/v36/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4Y_LDrMfJQ_4784239.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url(../fontsgstaticcom/s/raleway/v36/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEorCIPrQ_7929973.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(../fontsgstaticcom/s/raleway/v36/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ_6094966.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url(../fontsgstaticcom/s/raleway/v36/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoorCIPrQ_5439606.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url(../fontsgstaticcom/s/raleway/v36/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpbCIPrQ_6881388.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url(../fontsgstaticcom/s/raleway/v36/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCIPrQ_1376364.ttf) format('truetype');
}
